.StepHeader {
  background: linear-gradient(70deg,#00425d 12%,#007198 100%);
  color: white;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
}

img {
  height: 32px;
  width: 32px;
}

h1 {
  margin-left: 16px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-family: Open Sans, system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
}